---
title: Vidya Bio
permalink: /bio/
---


{% include head.html %}
<body  id="page-top" class="index page-all">
    {% include nav-page.html %}
    {% include bio_intro.html %}
            <div class="container bio">

                <div class="row page-content" style="font-size:1.15em;">

                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row" id="sections">
                            <div class="col-md-6">
                                <div id="skills">
                                <h4><i class="fa fa-bar-chart" aria-hidden="true"></i>skills</h4>
                                <h5>Languages, Tools, Platforms, & Experience</h5>
                                    <table width=100%>
                                    <tr>
                                        <td>
                                            <ul>
                                                <li>HTML</li>
                                                <li>CSS</li>
                                                <li>JavaScript</li>
                                                <li>Drupal</li>
                                                <li>WordPress</li>
                                                <li>Zoho Desk</li>
                                                <li>Jira</li>
                                                <li>Crazy Egg</li>
                                                <li>Google Analytics</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Web accessibility</li>
                                                <li>SEO (basic)</li>
                                                <li>HIPAA</li>
                                                <li>Project management</li>
                                                <li>User training</li>
                                                <li>QA testing</li>
                                                <li>Google administrator</li>
                                                <li>Content strategy</li>
                                                <li>Email marketing</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </table>
                                </div>
                                <div style="clear:both">
                                    <h4><i class="fa fa-university" aria-hidden="true"></i>education</h4>
                                    <ul>
                                        <h5>University of Minnesota - Twin Cities</h5>
                                        <li>BA Computer Science, 2002</li>
                                        <li>BA English Literature, 2002</li>
                                    </ul>
                                    <ul><br>
                                        <h5>University of Minnesota Law School</h5>
                                        <li>
                                            JD, 2009
                                        </li>
                                    </ul>
                                    <ul><br>
                                        <h5>Bloc</h5>
                                        <li>
                                            Full Stack Developer course, 2016 - 2017
                                        </li>
                                    </ul>
                                    <h4><i class="fa fa-users" aria-hidden="true"></i>affiliations</h4>
                                    <ul>
                                        <h5>Accessibility Twin Cities</h5>
                                        <h5>TC UX</h5>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4><i class="fa fa-briefcase" aria-hidden="true"></i>work experience</h4>
                                <table class="work-history">
                                    <tr>
                                        <td>
                                            <h5>Us Creative Works</h5>
                                        </td>
                                        <td>
                                            <h5>2020 - present</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Support Manager for maintenance services.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>University of St. Thomas</h5>
                                        </td>
                                        <td>
                                            <h5>2018 - 2020</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Web Content Specialist and project manager for web migration projects.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Legal Services</h5>
                                        </td>
                                        <td>
                                            <h5>2012 - 2018</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Contract attorney and solo practitioner.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>We Are All Criminals</h5>
                                        </td>
                                        <td>
                                            <h5>2016 - 2017</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Editor (part-time). Oversaw citations for a book in the category of non-fiction, justice reform advocacy.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Patrick Burns & Associates</h5>
                                        </td>
                                        <td>
                                            <h5>2010 - 2012</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Associate Attorney. Practiced debtor defense and various civil litigation with hearing and solo trial experience.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Council on Crime & Justice</h5>
                                        </td>
                                        <td>
                                            <h5>2009 - 2010</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Public Policy Fellow, working on Criminal Records Reform Project.
                                        </td>
                                    </tr>
                                </table>

                                <h4><i class="fa fa-globe" aria-hidden="true"></i>volunteering</h4>
                                <table class="work-history">
                                    <tr>
                                        <td>
                                            <h5>MN Bluegrass & Old Time Music Assoc.</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Music Contests Event Manager (2018 - present); Volunteer Coordinator (2020 - present).
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>BareBones Productions</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Grant writer (2019); Board of Directors/Secretary (2016 - 2018).
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Alzheimer's Association MN-ND Chapter</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Medical Provider Outreach Rep and Congressional Team Member (2016 - 2017)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

    {% include footer.html %}
    {% include js.html %}

</body>
