---
title: Vidya Bio
permalink: /bio/
---


{% include head.html %}
<body  id="page-top" class="index page-all">
    {% include nav-page.html %}
    {% include bio_intro.html %}
            <div class="container bio">

                <div class="row page-content" style="font-size:1.15em;">

                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row" id="sections">
                            <div class="col-md-6">
                                <div id="skills">
                                <h4><i class="fa fa-bar-chart" aria-hidden="true"></i>skills</h4>
                                <h5>Languages, Tools, Platforms, & Experience</h5>
                                    <table width=100%>
                                    <tr>
                                        <td>
                                            <ul>
                                                <li>HTML</li>
                                                <li>CSS</li>
                                                <li>Drupal</li>
                                                <li>WordPress</li>
                                                <li>Squarespace</li>
                                                <li>Zoho Desk</li>
                                                <li>Jira</li>
                                                <li>Crazy Egg</li>
                                                <li>Google Analytics</li>
                                                <li>Siteimprove (basic)</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Web accessibility</li>
                                                <li>SEO (basic)</li>
                                                <li>HIPAA</li>
                                                <li>Project management</li>
                                                <li>User training</li>
                                                <li>QA testing</li>
                                                <li>Google administrator</li>
                                                <li>Content strategy</li>
                                                <li>Email marketing</li>
                                                <li>Mailchimp</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </table>
                                </div>
                                <div style="clear:both">
                                    <h4><i class="fa fa-university" aria-hidden="true"></i>education & certifications</h4>
                                    <ul>
                                        <h5>University of Minnesota - Twin Cities</h5>
                                        <li>BA Computer Science, 2002</li>
                                        <li>BA English Literature, 2002</li>
                                    </ul>
                                    <ul><br>
                                        <h5>University of Minnesota Law School</h5>
                                        <li>
                                            JD, 2009
                                        </li>
                                    </ul>
                                    <ul><br>
                                        <h5>Bloc</h5>
                                        <li>
                                            Full Stack Developer course, 2016 - 2017
                                        </li>
                                    </ul>
                                    <ul><br>
                                        <h5>Certifications</h5>
                                        <li>
                                            <a href="https://www.credly.com/badges/8a9b984f-2143-4d55-9bf6-72cfdc7847a2/linked_in?t=re4xtn">Business Relationship Management Professional (BRMP®)</a>
                                        </li>
                                        <li>
                                          <a href="https://business.stthomas.edu/executive-education/project-management/cppm/">Certified Professional Project Manager (CPPM)</a>
                                        </li>
                                    </ul>
                                    <h4><i class="fa fa-users" aria-hidden="true"></i>affiliations</h4>
                                    <ul>
                                        <h5>TC UX</h5>
                                        <h5>Business Relationship Management Institute</h5>
                                        <h5>EDUCAUSE</h5>
                                    </ul>

                                    <h4><i class="fa fa-globe" aria-hidden="true"></i>volunteer</h4>
                                    <table class="work-history">
                                        <tr>
                                            <td>
                                                <h5>In the Streets</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="{{site.baseurl}}/in-the-streets">Website</a> designer, developer, and admin (2021 - present)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>MN Bluegrass & Old-Time Music Assoc.</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                State Fair Music Contests Event Manager (2018, 2019, 2021)<br>Winter Weekend MC Coordinator (2020, 2022)
                                            </td>
                                        </tr>
                                        <tr>
                                           <td>
                                               <h5>BareBones Productions</h5>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td>
                                               Grant writer (2019)<br>Board of Directors/Secretary (2016 - 2018)
                                           </td>
                                       </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4><i class="fa fa-briefcase" aria-hidden="true"></i>work experience</h4>
                                <table class="work-history">
                                    <tr>
                                        <td>
                                            <h5>University of St. Thomas</h5>
                                        </td>
                                        <td valign="bottom">
                                            <h5>2022 - present</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Business Relationship Manager in the Innovation & Technology Services Division (ITS).
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Us Creative Works</h5>
                                        </td>
                                        <td valign="bottom">
                                            <h5>2020 - 2022</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Manager for website maintenance services.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>University of St. Thomas</h5>
                                        </td>
                                        <td>
                                            <h5>2018 - 2020</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Web Content Specialist and project manager for web migration projects.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Legal Services</h5>
                                        </td>
                                        <td>
                                            <h5>2012 - 2018</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Contract attorney and solo practitioner.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>We Are All Criminals</h5>
                                        </td>
                                        <td>
                                            <h5>2016 - 2017</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Editor (part-time). Oversaw citations for a book in the category of non-fiction, justice reform advocacy.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Patrick Burns & Associates</h5>
                                        </td>
                                        <td>
                                            <h5>2010 - 2012</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Associate Attorney. Practiced debtor defense and various civil litigation with hearing and solo trial experience.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Council on Crime & Justice</h5>
                                        </td>
                                        <td>
                                            <h5>2009 - 2010</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Public Policy Fellow (part-time). Worked on Criminal Records Reform Project.
                                        </td>
                                    </tr>
                                </table>

                                <h4><i class="fa fa-cog" aria-hidden="true"></i>freelance work (part-time)</h4>
                                <table class="work-history">
                                     <tr>
                                        <td>
                                            <h5>BareBones Productions</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Extravaganza Communications Director (2022)<br><a href="{{site.baseurl}}/barebones" target="_blank">Website</a> designer, developer, and admin (2021 - present)<br>Executive Administrator (2020 - present)<br>Extravaganza Production Manager (2020)<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Chicks on Sticks</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Stilt performer (Mar 2022 - present)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>MN Bluegrass & Old-Time Music Assoc.</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            August Festival Front Gate Coordinator (2018, 2019)<br>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

    {% include footer.html %}
    {% include js.html %}

</body>
