---
title: Vidya Bio
permalink: /bio/
---

{% include head.html %}
<body  id="page-top" class="index">
    {% include nav-page.html %}

            <div class="container page bio">
                <div class="row page-content" style="font-size:1.15em">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-md-4">
                                <img class="img-responsive" id="avatar-bio" src="{{site.baseurl}}/img/avatar-circle.png" alt="" height="400" width="400">
                            </div>
                            <div class="col-md-8">
                                <div id="titles">
                                    <div style="float:left;"><h3 style="margin-top: .83em !important">Vidya Neni</h3></div>
                                    <div style="float:right;"><h4 style="margin-top: 1.5em">full-stack developer</h4></div>
                                </div>
                                <div id="titles-cen" style="text-align:center; display:none">
                                    <h3 style="margin-top: 1.15em !important">Vidya Neni</h3>
                                    <h4 style="margin-top: .75em; margin-bottom:1em">full-stack developer</h4>
                                </div>
                               
                                <div style="text-align:justify; clear: both;">Vidya is Computer Science educated, and experienced with the development life cycle and various language categories - e.g. compiled, interpreted, and markup. She also holds a JD and has been a practicing attorney. When working with you, she brings experience with both large and small businesses and solo proprietorships. Vidya is also affiliated with a number of nonprofits, and is enthusiastic about working with organizations whose goals are based on social outreach and progress.
                                </div>
                                <a href="https://www.linkedin.com/in/vidya-neni/" target="_blank" style="color:#{{ site.color.secondary }} !important"><h3 style="display:inline-block !important;"><i class="fa fa-linkedin" aria-hidden="true"></i></h3>vidya-neni</a>
                                <br><a href="https://github.com/vidyagc/" target="_blank" style="color:#{{ site.color.secondary }}"><h3 style="display:inline-block !important; margin: 0 !important;"><i class="fa fa-github" aria-hidden="true"></i></h3>vidyagc</a>
                            </div>
                        </div>   
                        <div class="row" id="sections">
                            <div class="col-md-6">
                                <h4><i class="fa fa-bar-chart" aria-hidden="true"></i>skills</h4>
                                <div id="skills"> 
                                <div>
                                    <ul>
                                        <h5>Languages & Libraries</h5>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Sass</li>
                                        <li>JavaScript</li>
                                        <li>JQuery</li>
                                        <li>Ruby</li>
                                        <li>Java</li>
                                        <li>C/C++</li>
                                        <li>BASIC</li>
                                        <li>Scheme</li>
                                    </ul>
                                </div>
                                <div>
                                    <ul>
                                        <h5>Frameworks & Databases</h5>
                                        <li>AngularJS</li>
                                        <li>Rails</li>
                                        <li>Bootstrap</li>
                                        <li>Firebase</li>
                                        <li>SQLite</li>
                                        <li>PostgresSQL</li>
                                    </ul>
                                </div>
                                <div id="last-skill">
                                    <ul>
                                        <h5>Tools & Platforms</h5>
                                        <li>RSpec</li>
                                        <li>Git</li>
                                        <li>GitHub</li>
                                        <li>Dreamweaver</li>
                                        <li>Photoshop (beg)</li>
                                        <li>Illustrator (beg)</li>
                                        <li>Jekyll</li>
                                        <li>WordPress</li>
                                    </ul>
                                </div>
                                </div>
                                <div style="clear:both">
                                    <h4><i class="fa fa-university" aria-hidden="true"></i>education</h4>
                                    <ul>
                                        <h5>University of Minnesota - Twin Cities</h5>
                                        <li>BA Computer Science, 2002</li>
                                        <li>BA English Literature, 2002</li>
                                    </ul>
                                    <ul><br>
                                        <h5>University of Minnesota Law School</h5>
                                        <li>
                                            JD, 2009
                                        </li>
                                    </ul>
                                    
                                    <h4><i class="fa fa-users" aria-hidden="true"></i>affiliations</h4>
                                    <ul>
                                        <h5>Girl Develop It, Minneapolis</h5>
                                        <h5>Women Who Code, Twin Cities</h5>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4><i class="fa fa-briefcase" aria-hidden="true"></i>work experience</h4>
                                <table class="work-history">
                                    <tr>
                                        <td>
                                            <h5>Legal Services</h5> 
                                        </td>
                                        <td>
                                            <h5>2012 - 2018</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Contract attorney. Contract through various Twin Cities legal services agencies.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>We Are All Criminals</h5> 
                                        </td>
                                        <td>
                                            <h5>2016 - 2017</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Freelance Editor. Oversaw citations for a book in the category of non-fiction, justice reform advocacy. 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Patrick Burns & Associates</h5> 
                                        </td>
                                        <td>
                                            <h5>2010 - 2012</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Associate Attorney. Practiced debtor defense and various civil litigation with hearing and solo trial experience.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Council on Crime & Justice</h5> 
                                        </td>
                                        <td>
                                            <h5>2009 - 2010</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Public Policy Fellow. Researched public policy for the Criminal Records Reform Project. Assisted in drafting reports to legislators and language for a proposed bill.
                                        </td>
                                    </tr>
                                </table>

                                <h4><i class="fa fa-globe" aria-hidden="true"></i>volunteering</h4>
                                <table class="work-history">
                                    <tr>
                                        <td>
                                            <h5>MN Bluegrass & Old Time Music Assoc.</h5> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Membership Committee - new member recruitment
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>BareBones Productions</h5> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Board of Directors/Secretary and Marketing Committee 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Alzheimer's Association MN-ND Chapter</h5> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Medical Provider Outreach Rep and Congressional Team Member
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>Animal Humane Society - St. Paul</h5> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cat Adoption Support
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

    {% include footer.html %}
    {% include js.html %}
    
</body>