 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row about">
                <div class="col-lg-4"> 
                    <p><span class="about-font">Dragonfly D&D</span>Offering web design to make your site's front end appealing and user friendly, and server side programming to give it the functionality you need to do business with your base. Dragonfly serves both large and small businesses and nonprofits, and understands how to scale services to meet your particular needs in terms of site traffic, resources, and cost!</p>
                </div>
                <div class="col-lg-4" id="about-you"> 
                    <input type="checkbox" class="read-more-state" id="post-1" />
                    <p class="read-more-wrap"><span class="about-font">You!</span>Launching a web presence for the first time, or redoing your current site can seem intimidating. The online face of your business represents your values and the relationship you want to have with current and potential visitors. Your site should look great and function seamlessly, so visitors feel confident about engaging with you. <span class="read-more-target">Dragonfly will work with you to understand what you want to communicate to your audience, and make sure we maximize your site’s operations, so users can accomplish as much as possible with you in that space.</span></p>
                      <label for="post-1" class="read-more-trigger"></label>
                </div>
                <div class="col-lg-4"> 
                    <table style="max-width:380px;"><tr><td>
                        <p style="float:left; max-width:115px"><span class="about-font" style="">The Coder</span>
                            Vidya Neni<br><br>Dragonfly's Designer<br><span style="margin-left:30px; color: #f5e013;">&</span><br> Developer<br><br>
                            <a href="{{site.baseurl}}/bio/"><span style="font-weight: bold;" class="read-more-trigger">See bio</span></a>
                        </p>
                        <a href="{{site.baseurl}}/bio/"><img id="avatar-about" class="img-responsive" src="img/avatar-circle.png" alt="Vidya Neni avatar, links to bio page"></a>
                    </td></tr></table>
                </div>
            </div>
        </div>
    </section>
