 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row about" >
                <div class="col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1 col-sm-offset-0">
                    <p><span class="about-font">Web Support</span>Partnering with clients to realize their goals calls upon a broad and fascinating set of skills and tools. I love being able to delve into the following areas:
                      <ul>
                        <li>Assessing business goals</li>
                        <li>Scoping project requirements</li>
                        <li>Content audits</li>
                        <li>Analytics and heatmapping</li>
                        <li>WCAG compliance</li>
                        <li>Project management</li>
                      </ul>
                    </p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 id="about-you">
                    <input type="checkbox" class="read-more-state" id="post-1" />
                    <p><span class="about-font">Nonprofit Support</span>Mission-driven work is both an opportunity to grow professionally <i>and</i> personally. I’ve done the following in communities of artists and advocates:
                      <ul>
                        <li>Production management</li>
                        <li>Event promotion</li>
                        <li>Email marketing</li>
                        <li>Executive administration</li>
                        <li>Grant writing</li>
                        <li>Volunteer coordination</li>
                      </ul>
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{{site.baseurl}}/bio/" class="btn btn-lg btn-outline">
                      <i style="margin-right:7px" class="fa fa-file-text"></i>Curriculum Vitae
                  </a>
                </div>
            </div>
        </div>
    </section>
