<bio-intro>
    <div class="jumbotron">
        <div class="container page bio" style="color:#fff; font-size:1.15em;">
            
            <div class="row">
                
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row" style="margin-bottom:15px;">
                        
                        <div class="col-md-4">
                            <img class="img-responsive" id="avatar-bio" src="{{site.baseurl}}/img/avatar-circle.png" alt="Vidya Neni avatar" height="400" width="400">
                        </div>
                        <div class="col-md-8">
                            <div id="titles">
                                <div style="float:left;"><h3 style="margin-top: .83em !important">Vidya Neni</h3></div>
                                <div style="float:right; color:#f5e013;"><h4 style="margin-top: 1.5em">full-stack developer</h4></div>
                            </div>
                            <div id="titles-cen" style="text-align:center; display:none">
                                <h3 style="margin-top: 1.15em !important">Vidya Neni</h3>
                                <h4 style="margin-top: .75em; margin-bottom:1em; color:#f5e013;">full-stack developer</h4>
                            </div>
                           
                            <div style="text-align:justify; clear: both;">Vidya is Computer Science educated, and experienced with the development life cycle and various language categories - e.g. compiled, interpreted, and markup. She also holds a JD and has been a practicing attorney. When working with you, she brings experience with both large and small businesses and solo proprietorships. Vidya is also affiliated with a number of nonprofits, and is enthusiastic about working with organizations whose goals are based on social outreach and progress.
                            </div>
                            <a href="https://www.linkedin.com/in/vidya-neni/" target="_blank" style="color:#fff !important"><h3 style="display:inline-block !important;"><i class="fa fa-linkedin" aria-hidden="true"></i></h3>vidya-neni</a>
                            <br><a href="https://github.com/vidyagc/" target="_blank" style="color:#fff"><h3 style="display:inline-block !important; margin: 0 !important;"><i class="fa fa-github" aria-hidden="true"></i></h3>vidyagc</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</bio-intro>