<section id="blog">

  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Blog</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row" id="blog">
      <div class="col-lg-6 col-md-6">
        {% for post in site.posts limit:3 %}
        <a href="{{site.baseurl}}{{ post.url }}">
          {% if post.title2 %}
            <h3>{{ post.title2 }}</h3>
          {% else %}
            <h3>{{ post.title }}</h3>
          {% endif %}
        </a>
        {% endfor %}
      </div>
      <div class="col-lg-6 col-md-6">
        {% for post in site.posts %}
          {% if post.featured == true %}
          <a href="{{site.baseurl}}{{ post.url }}">
            {% if post.title2 %}
              <h3>{{ post.title2 }}</h3>
            {% else %}
              <h3>{{ post.title }}</h3>
            {% endif %}
          </a>
          {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
</section>
      <!--<a href="{{site.baseurl}}/archive/">-->
      <!--<a href="#blogsArchive" data-toggle="modal">-->
      <!--    <h2>Archive</h2>-->
      <!--</a>-->
