<section id="post">

  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Blog</h2>
              <hr class="star-primary">
          </div>
      </div>
      <div class="row">

        <!-- {% for post in site.posts limit:2 %}
          <h2>{{post.title}}</h2>
        {% endfor %} -->
      <a href="#blogsArchive" data-toggle="modal">
          <h2>Blog Archive</h2>
      </a>

        {% for post in site.posts limit:2 %}
          <a href="#blogsModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                  <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                  </div>
              </div>
              <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
          </a>
        {% endfor %}

        <!-- {% assign post = site.postvs.first %}
        <h2>{{post.title}}</h2> -->

          <!-- {% for post in site.posts %}
            {% if post.featured == true %}
              <h2>{{post.title}}</h2>
            {% endif %}
          {% endfor %} -->
      </div>
  </div>

</section>
