{% include css/bootstrap.min.css %}
{% include css/main.css %}

.btn-success{color:#0da5a5;background-color:#ffffff;border-color:#ffffff}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success{color:#098383;background-color:#cfeded;border-color:#bad5d5}.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success{background-image:none}.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{background-color:#0da5a5;border-color:#0da5a5}.btn-success .badge{color:#0da5a5;background-color:#ffffff}

.page-all .btn-outline {
    padding-top: 13px;
}

#avatar-about {
  display:block;
  margin:auto;
  float:right;
  padding:3px;
  border:2px solid #fff;
  background-color:#{{ site.color.secondary }};
  border-radius: 50%;
  max-height:250px;
  max-width:250px;
}

#avatar-bio {
  padding:2px;
  border:1px solid #fff;
  background-color:#{{ site.color.secondary }};
  /*border:1px solid #{{ site.color.secondary }};*/
  /*background-color: #{{ site.color.primary }};*/
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #fff;
  font-size: .8em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  letter-spacing: .5px;
}

.jumbotron {
  background-color: #{{ site.color.primary }};
  padding-top:10px !important;
  padding-right:0 !important;
  padding-left:0 !important;
}

.about-font {
    color: #f5e013;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    font-weight: bold;
    margin-right: .5em;
}

.img-padded {
   padding: 0 0 38px 0;
}

#post-date {
  float: right;
  font-size: 15px;
  padding-top: 3px;
  color: #{{ site.color.primary }};
}

#post-intro {
  font-size: 1em;
}

.highlight-line {
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
}

.work-header {
  text-align: center;
  padding-bottom: 42px;
}

.code-header {
  margin-top:0;
  text-transform:none !important;
  color:#ec8013;
}

.work-header h3 {
  color: #ec8013;
  text-transform: capitalize !important;
  padding-top: 0px;
  margin-top: 0px;
}

.page-content h4 {
  color: #ec8013;
  padding-top: 0px;
  margin-top: 0px;
}

.about div {
  font-size: 20px;
}

.bio h4 {
  text-transform: lowercase !important;
}


.bio #sections h4 {
  margin-top: 35px;
}

.bio #sections ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.bio #skills ul {
  max-width:150px;
}

.bio h5 {
  margin-top: 0;
}

.bio #sections div {
  float: left;
}

.bio .fa {
  margin-right: 10px;
}

.work-history tr td:nth-child(2) {
  text-align: right;
}

.work-history tr:nth-child(odd) td:first-child {
  padding-top: 15px;
}

.work-history tr:first-child td:first-child {
  padding-top: 0 !important;
}

@media screen and (max-width: 414px) {
  #last-skill {
    margin-top: 35px;
  }
}

@media screen and (max-width: 412px) {
  #titles {
    display: none;
  }
  #titles-cen {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .img-marg {
    margin-right: 0 !important;
  }
  #avatar-bio {
    margin: auto;
    display: block;
  }
}

.li-col {
  color: #07335e; /*changed */
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:15px;line-height:1.42857143;
  font-size: 1em;
}

.ol-blog {
  color: #ec8013;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-content-text {
  font-size: large !important;
  margin-bottom: .75cm;
}

.page-content-text ul li {
  list-style-position: outside;
}

.thing {
  color: #ec8013;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 5px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.terms {
  border-radius: 3px;
  padding: 1.5px 3px 1.5px 3px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid	#E0E0E0;
  font-family: "Courier New", Courier, monospace !important;
  font-size: medium;
  background-color: #F5F5F5;

}

.work-header hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.post-header h4 {
  color: #ec8013;
  margin-top: 0;
}

.page {
  padding-top: 4.25cm;
}

@media screen and (max-width: 414px) {
  #post-date-m:after {
    content:"\a";
    white-space: pre;
  }
  #post-date {
    padding-top: 5px;
    float: left;
  }
  .img-padded {
    padding: 0 0 38px 0;
  }
  .post-header h4 {
    white-space: pre;
  }
  .page {
    padding-top: 2.25cm;
  }
}

.post-header hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.post-header p {
  font-size: 18px;
}

.post-content {
  margin-top: 1cm;
  margin-bottom: 1.5cm;
}

.page-content {
  margin-bottom: 1.5cm;
}

.task-btn {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

.hide-btn {
  color: #fff;
  background-color: #33b5e5;
  border-color: darken(#33b5e5, 5%);
}

.sub-head {
  color: #0da5a5;
  display: inline-block;
  text-decoration: underline;
}

.sub-point {
  color: #ec8013;
  padding-right: 5px;
}

ol li { padding-left: 5px  }

ol.task-list {
  list-style-type: lower-roman;
}

ol.task-list li {
  padding-left: 10px;
}

.file-path {
  width: 100%;
  background-color:#F8F8F8;
  border: 1px solid #C0C0C0;
  border-bottom: none;
  padding: 3px 0 3px 9px;
}

a:link {
  text-decoration: underline;
}

nav a:link, section a:link {
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .resp-img-page img {
    display:block !important;
  }
  .resp-img-page img:first-child {
    margin-right: 0 !important;
  }
}

.card {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    margin-left: -5px;
    max-height: 250px;
}
.card:hover .img-top {
    display: inline;
}

#nav-logo {
  background-image: url('../../img/VN-logo.jpg');
  background-size: 55px ;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 60px; /* may not be necessary */
  float: left;
  margin-right: 17px;
  margin-top: -17px;
}

@media (max-width: 1199px) {
  #about-you {
    margin-bottom: 10px;
  }
}

.port-grid img {
    transition-duration: .8s;
    margin: 0 auto;
    display: block;
}

.port-grid img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    z-index: 0;
}

.port-grid {
    overflow: hidden;
}
