{% include head.html %}
<body  id="page-top" class="index page-all">
    {% include nav-page.html %}

            <div class="container page">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <img src="../img/portfolio/{{ page.img2 }}" class="img-responsive img-centered img-padded" alt="{{ page.alt2 }}">
                        <div class="work-header">
                            <h3>{{ page.project-name }}</h3>
                            <hr width="30%">
                            <div style="font-size: large !important;">Project Type: <strong>{{ page.project-type }}</strong></div>
                            <div style="font-size: large !important;">Project Date: <strong>{{ page.project-date }}</strong></div>
                        </div>
                        <div class="page-content">{{ content }}</div>
                    </div>
                </div>
            </div>

    {% include footer.html %}
    {% include js.html %}

    <script>
        var $contents = $('.tab-content');
        $contents.slice(1).hide();
        $('.tab').click(function() {
            var $target = $('#' + this.id + 'show').show();
            $contents.not($target).hide();
        });
    </script>

</body>
